Problem Statement 26: 



New hospitals are under construction* in different locations, and once they are constructed the data in the database is to be updated. Also, when some hospitals non-operational hospital might be removed. Since the data is quite significant there should be a hospital_log table that would store any changes made to the hospital or government_hospital table.
The hospital_log table should contain the name of the district, whether the hospital is situated in urban or rural area, whether the hospital is being added or being removed, date of adding or removing the hospital to/from the existing facilities, and whether it is government hospital or not. The a row in the table must be added automatically whenever a new hospital is added, or an existing hospital is removed.

In [1]:
import pymysql
import pandas as pd

In [2]:
conn=pymysql.connect(
    host='localhost',
    user='root',
    password='Admin@123',
    db='pythonprojectdb2')

In [3]:
cursor=conn.cursor()

In [4]:
#creating hospital log table

In [23]:
query="""
CREATE TABLE IF NOT EXISTS hospital_log (
    log_id INT AUTO_INCREMENT PRIMARY KEY,
    state_name VARCHAR(50) NOT NULL,
    area_type VARCHAR(10) NOT NULL,
    action_type ENUM('Added', 'Removed') NOT NULL,
    action_date TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    is_government ENUM('No', 'Yes') NOT NULL
);
"""

In [24]:
cursor.execute(query)

0

In [7]:
#creating trigger hospital trigger

In [18]:
query="""
CREATE TRIGGER if not exists hospital_trigger
AFTER UPDATE ON government_hospitals
    FOR EACH ROW
BEGIN
IF NEW.Rural_Government_Hospitals != OLD.Rural_Government_Hospitals AND NEW.Rural_Government_Hospitals > OLD.Rural_Government_Hospitals THEN
    INSERT INTO hospital_log (state_name,
    area_type,
    action_type ,
    is_government)
    VALUES (old.StateorUT,'Rural','Added','Yes');
END IF;
IF NEW.Rural_Government_Hospitals != OLD.Rural_Government_Hospitals AND NEW.Rural_Government_Hospitals < OLD.Rural_Government_Hospitals THEN
    INSERT INTO hospital_log (state_name,
    area_type,
    action_type ,
    is_government)
    VALUES (old.StateorUT,'Rural','Removed','Yes');
END IF;
IF NEW.Urban_Government_Hospitals != OLD.Urban_Government_Hospitals AND NEW.Urban_Government_Hospitals > OLD.Urban_Government_Hospitals THEN
    INSERT INTO hospital_log (state_name,
    area_type,
    action_type ,
    is_government)
    VALUES (old.StateorUT,'Urban','Added','Yes');
END IF;
IF NEW.Urban_Government_Hospitals != OLD.Urban_Government_Hospitals AND NEW.Urban_Government_Hospitals < OLD.Urban_Government_Hospitals THEN
    INSERT INTO hospital_log (state_name,
    area_type,
    action_type ,
    is_government)
    VALUES (old.StateorUT,'Urban','Removed','Yes');
END IF;
END;
"""

In [19]:
cursor.execute(query)

0

In [25]:
query3="""update government_hospitals set Rural_Government_Hospitals=Rural_Government_Hospitals+1 where Sno=33;""" 
cursor.execute(query3)

1

In [26]:
query="""select * from hospital_log"""

In [27]:
cursor.execute(query)

6

In [28]:
k=cursor.fetchall()

In [31]:
df=pd.DataFrame(k)
df

   0               1      2        3                   4    5
0  1  Andhra Pradesh  Rural    Added 2023-03-13 19:15:42  Yes
1  2   Daman and Diu  Rural    Added 2023-03-13 19:55:48  Yes
2  3   Daman and Diu  Urban    Added 2023-03-13 19:56:19  Yes
3  4   Daman and Diu  Urban  Removed 2023-03-13 20:11:26  Yes
4  5   Daman and Diu  Rural    Added 2023-03-13 20:28:44  Yes
5  6   Daman and Diu  Rural    Added 2023-03-15 10:48:31  Yes

In [34]:
query4="""
CREATE TRIGGER IF NOT EXISTS hospital_trigger2
AFTER UPDATE ON hospitals
    FOR EACH ROW
BEGIN
IF (NEW.Number_of_Primary_Health_Centers != OLD.Number_of_Primary_Health_Centers or NEW.Community_Health_Centers != OLD.Community_Health_Centers ) AND (NEW.Community_Health_Centers > OLD.Community_Health_Centers or NEW.Number_of_Primary_Health_Centers > OLD.Number_of_Primary_Health_Centers )THEN
    INSERT INTO hospital_log (state_name,
    area_type,
    action_type ,
    is_government)
    VALUES (old.StateorUT,'Rural','Added','Yes');
END IF;
IF (NEW.Number_of_Primary_Health_Centers != OLD.Number_of_Primary_Health_Centers or NEW.Community_Health_Centers != OLD.Community_Health_Centers ) AND (NEW.Community_Health_Centers < OLD.Community_Health_Centers or NEW.Number_of_Primary_Health_Centers < OLD.Number_of_Primary_Health_Centers )THEN
    INSERT INTO hospital_log (state_name,
    area_type,
    action_type ,
    is_government)
    VALUES (old.StateorUT,'Rural','Removed','Yes');
END IF;

IF (NEW.Sub_DistrictorDivisional_Hospitals != OLD.Sub_DistrictorDivisional_Hospitals or NEW.District_Hospitals != OLD.District_Hospitals ) AND (NEW.Sub_DistrictorDivisional_Hospitals > OLD.Sub_DistrictorDivisional_Hospitals or NEW.District_Hospitals > OLD.District_Hospitals )THEN
    INSERT INTO hospital_log (state_name,
    area_type,
    action_type ,
    is_government)
    VALUES (old.StateorUT,'Urban','Added','Yes');
END IF;

IF (NEW.Sub_DistrictorDivisional_Hospitals != OLD.Sub_DistrictorDivisional_Hospitals or NEW.District_Hospitals != OLD.District_Hospitals ) AND (NEW.Sub_DistrictorDivisional_Hospitals < OLD.Sub_DistrictorDivisional_Hospitals or NEW.District_Hospitals < OLD.District_Hospitals )THEN
    INSERT INTO hospital_log (state_name,
    area_type,
    action_type ,
    is_government)
    VALUES (old.StateorUT,'Urban','Removed','Yes');
END IF;

END;
"""

In [35]:
cursor.execute(query4)

0

In [36]:
query5="""update hospitals set Number_of_Primary_Health_Centers = Number_of_Primary_Health_Centers+1 where sno=1;"""

In [37]:
cursor.execute(query5)

1

In [65]:
query="""select * from hospital_log"""

In [66]:
cursor.execute(query)

7

In [67]:
k=cursor.fetchall()
df=pd.DataFrame(k,columns=['id','State','Rural/Urban','action_type','Time_of_update','Government Hospital_or_not'])
df

,id,State,Rural/Urban,action_type,Time_of_update,Government Hospital_or_not
0,1,Andhra Pradesh,Rural,Added,2023-03-13 19:15:42,Yes
1,2,Daman and Diu,Rural,Added,2023-03-13 19:55:48,Yes
2,3,Daman and Diu,Urban,Added,2023-03-13 19:56:19,Yes
3,4,Daman and Diu,Urban,Removed,2023-03-13 20:11:26,Yes
4,5,Daman and Diu,Rural,Added,2023-03-13 20:28:44,Yes
5,6,Daman and Diu,Rural,Added,2023-03-15 10:48:31,Yes
6,7,Daman and Diu,Rural,Added,2023-03-15 10:53:10,Yes

**q27 New hospital beds are to be added in different government and private hospitals in different locations, and some non-operational hospital beds might be removed from hospitals. Since the data is quite significant there should be a hospital_bed_log table that would store any changes made to the hospital or government_hospital table with respect to number of hospital beds.
The hospital_bed_log table should contain the name of the district, whether the hospital is situated in urban or rural area, date of adding or removing hospital beds, the number of beds being added or removed, whether it is being added or removed and whether it is added to/removed from government hospital or not. The table must be updated automatically whenever new hospital beds are added to or removed from the existing facility.**

In [41]:
query="""CREATE TABLE IF NOT EXISTS hospital_bed_log (
    log_id INT AUTO_INCREMENT PRIMARY KEY,
    state_name VARCHAR(50) NOT NULL,
    area_type VARCHAR(10) NOT NULL,
    action_type ENUM('Added', 'Removed') NOT NULL,
    action_date TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    is_government ENUM('No', 'Yes') NOT NULL
);
"""

In [43]:
cursor.execute(query)

0

In [44]:
query1="""CREATE TRIGGER IF NOT EXISTS hospital_bed_trigger
AFTER UPDATE ON government_hospitals
    FOR EACH ROW
BEGIN
IF NEW.Rural_Government_Beds != OLD.Rural_Government_Beds AND NEW.Rural_Government_Beds > OLD.Rural_Government_Beds THEN
    INSERT INTO hospital_bed_log (state_name,
    area_type,
    action_type ,
    is_government)
    VALUES (old.StateorUT,'Rural','Added','Yes');
END IF;
IF NEW.Rural_Government_Beds != OLD.Rural_Government_Beds AND NEW.Rural_Government_Beds < OLD.Rural_Government_Beds THEN
    INSERT INTO hospital_bed_log (state_name,
    area_type,
    action_type ,
    is_government)
    VALUES (old.StateorUT,'Rural','Removed','Yes');
END IF;
IF NEW.Urban_Government_Hospitals != OLD.Urban_Government_Beds AND NEW.Urban_Government_Beds > OLD.Urban_Government_Beds THEN
    INSERT INTO hospital_bed_log (state_name,
    area_type,
    action_type ,
    is_government)
    VALUES (old.StateorUT,'Urban','Added','Yes');
END IF;
IF NEW.Urban_Government_Beds != OLD.Urban_Government_Beds AND NEW.Urban_Government_Beds < OLD.Urban_Government_Beds THEN
    INSERT INTO hospital_bed_log (state_name,
    area_type,
    action_type ,
    is_government)
    VALUES (old.StateorUT,'Urban','Removed','Yes');
END IF;
END"""

In [45]:
cursor.execute(query1)

0

In [54]:
query3="""update government_hospitals set Urban_Government_beds=Urban_Government_beds+1 where Sno=33; """

In [55]:
cursor.execute(query3)

1

In [56]:
query="""select * from hospital_bed_log"""

In [57]:
cursor.execute(query)

1

In [58]:
x=cursor.fetchall()

In [62]:
df=pd.DataFrame(x,columns=['id','State','Rural/Urban','action_type','Time_of_update','Government Hospital_or_not'])

In [63]:
df

,id,State,Rural/Urban,action_type,Time_of_update,Government Hospital_or_not
0,1,Daman and Diu,Urban,Added,2023-03-15 11:04:00,Yes